.colorful-box {
    width: 100%;
    height: 308px;
    background-color: blue;
    position: relative;
}
.main-heading {
    width: 184px;
    height: 38px;
    margin-left: 88px;
    padding-top: 70px;
    color: white;
}
.picture1 {
    width: 263px;
    height: 220px;
    display: inline-block;
    position:absolute;
    top: 120px;
    left: 50px;
}
.text1 {
    width: 250px;
    height: 65px;
    width: 339px;
    size: 18px;
}
.picture2 {
    width: 263px;
    height: 220px;
    display: inline-block;
    position: absolute;
    top: 180px;
    left: 450px;  
}
.picture3 {
    width: 263px;
    height: 220px;
    display: inline-block;
    position: absolute;
    top: 238px;
    left: 800px;
}
.picture4 {
    width: 263px;
    height: 220px;
    display: inline-block;
    position: absolute;
    top: 238px;  
    left: 1150px;
}